
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;

    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: #333;

    transition: 0.3s;
}


h1 {
    margin-top: 20px;
}


button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ddd;
}


.dark-mode {
    background: #121212;
    color: white;
}


.image-container {
    margin-top: 30px;
}


.image-container img {
    width: 300px;
    display: block;
    margin: 0 auto; /* centers image */
    border-radius: 10px;
    transition: transform 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
}


.gallery {
    margin-top: 40px;
}


.gallery {
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 20px;               
    flex-wrap: wrap;         
}

.gallery img {
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.08);
}


.dark-mode button {
    background-color: #333;
    color: white;
}

.dark-mode button:hover {
    background-color: #555;
}

